In [3]:
import sqlite3

### sum of internal anles

In [ ]:
#internal angle equation
select (n-2)*180 as res from angle

### maximum multiple

In [ ]:
# bound minus the moduole to find the maximum multiple of the divisor
select bound - (bound%divisor) as res from max_multiple

### total wins

In [ ]:
SELECT name, sum(won) as won, sum(lost) as lost FROM fighters
INNER JOIN winning_moves ON fighters.move_id=winning_moves.id
WHERE NOT move IN ('Hadoken', 'Shouoken', 'Kikoken')
GROUP BY name
ORDER by won DESC
LIMIT 6;

In [ ]:
#select name, sum the win column with alias won, sum lost columns with
#alias lost from the table fighters

#join winning moves table on where fighters move id and winning moves

#where not move in restricted moves

#groupby name
#order by most wins
#return top 6 with limit

### find strings in a table

In [ ]:
SELECT INITCAP(firstname || ' ' || lastname) AS shortlist
FROM elves
WHERE firstname LIKE '%tegil%' OR lastname LIKE '%astar%'