In [3]:
import sqlite3

### sum of internal anles

In [ ]:
#internal angle equation
select (n-2)*180 as res from angle

### maximum multiple

In [ ]:
# bound minus the moduole to find the maximum multiple of the divisor
select bound - (bound%divisor) as res from max_multiple

### total wins

In [ ]:
SELECT name, sum(won) as won, sum(lost) as lost FROM fighters
INNER JOIN winning_moves ON fighters.move_id=winning_moves.id
WHERE NOT move IN ('Hadoken', 'Shouoken', 'Kikoken')
GROUP BY name
ORDER by won DESC
LIMIT 6;

In [ ]:
#select name, sum the win column with alias won, sum lost columns with
#alias lost from the table fighters

#join winning moves table on where fighters move id and winning moves

#where not move in restricted moves

#groupby name
#order by most wins
#return top 6 with limit

6

### select x and y

In [ ]:
select id, (n % x = 0 AND n % y = 0) as res
FROM kata

select id and select where n is divisible by x and y represented as res from kata table

#sum odd numbers

In [ ]:
SELECT POWER(n, 3)::int as res from nums;

In [ ]:
select n * n * n as res from nums

### opposite number

In [ ]:
select number*-1 as res from opposite

### first and last ip in a network

In [ ]:
SELECT
  id,
  network(ip_address) as first_address,
  broadcast(ip_address) AS last_address
FROM connections
ORDER BY id;

### grasshopper

In [ ]:
#sum columns as res from goals table
SELECT (la_liga_goals + copa_del_rey_goals + champions_league_Goals) as res
  FROM goals;

### Countries Capital for Trivia Night
Schema of the countries table:

country (String)
capital (String)
continent (String)
The first question: from the African countries that start with the character E, get the names of their capitals ordered alphabetically.

You should only give the names of the capitals. Any additional information is just noise
If you get more than 3, you will be kicked out, for being too smart
Also, this database is crowd-sourced, so sometimes Africa is written Africa and in other times Afrika.

In [ ]:
SELECT capital 
FROM countries 
WHERE continent IN ('Africa', 'Afrika') 
  AND country LIKE 'E%' 
ORDER BY capital 
LIMIT 3

### square root and log columns